<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Hardware features -->
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />
    
    <!-- OpenXR features -->
    <uses-feature android:name="org.khronos.openxr" android:required="true" />
    <uses-feature android:name="com.oculus.feature.HAND_TRACKING" android:required="true" />
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="true" />
    <uses-feature android:name="com.oculus.feature.SPATIAL_ENTITY" android:required="false" />
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE" />
    
    <!-- Meta Quest permissions -->
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-permission android:name="com.oculus.permission.PASSTHROUGH" />
    <uses-permission android:name="com.oculus.permission.SPATIAL_ENTITY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <service
            android:name=".WfbNgVpnService"
            android:label="Wfb-Ng VPN Service"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".openxr.OpenXRVideoActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="density|keyboardHidden|navigation|orientation|screenSize|uiMode"
            android:enableVrMode="true"
            android:resizeableActivity="false"
            android:theme="@style/Theme.FPVueMat">
            
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
            <meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2|quest3" />
            <meta-data android:name="com.oculus.handtracking.frequency" android:value="HIGH" />
            <meta-data android:name="com.oculus.handtracking.version" android:value="V2.1" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />

            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </activity>
    </application>
</manifest>
